<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- debug="true" pour activer le mode defub dans configuration -->
	<!-- scan="true" scanPeriod="15 seconds" pour reaload la config tous les 
		15 sec -->
	<property name="LOG_DIR"
		value="/home/excilys/workspaceTest/computer-database-db/log" />
	<property name="LOG_FILE" value="LogFile" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_FILE}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} -
				%msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- Pour modifier le niveau de log dans un package -->
	<!-- <logger name="com.baeldung.logback.tests" level="WARN" /> -->
	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>